<%- include('includes/head.ejs') %>
<!--  -->
<!-- end setting box -->
<%- include('includes/nav.ejs') %>
<h1 class="text-center"><%= title %></h1>
<div class="container exper">
    <div class="table-responsive">
        <table class="main-table manage-members text-center table table-bordered">
            <tr>
                <td>#ID</td>
                <td>Qualification Name</td>
                <td>Description</td>
                <td>Year enrollment</td>
                <td>Year of graduation</td>
                <td>Control</td>
            </tr>
            <% let i =1 %>
            <% for(let item =0; item< qualification.length; item++){ %>

            <tr>
                <td><%= i++ %></td>
                <td><%= qualification[item].name %></td>
                <td><%= qualification[item].description %></td>
                <td><%= qualification[item].yearStart %></td>
                <td><%= qualification[item].yearEnd %></td>
                <td>
                    <a href="#" class="btn btn-success" data-bs-toggle="modal"
                        data-bs-target="#editModal<%= qualification[item]._id %>"><i class="fa fa-edit"></i> Edit</a>
                    <a href="/delete_qualif/<%= qualification[item]._id %>" class="btn btn-danger confirm"> <i
                            class="fa fa-close"></i> Delete</a>
                </td>
            </tr>
            <div class="modal fade" id="editModal<%= qualification[item]._id %>" tabindex="-1"
                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Edit Qualification</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form action="/update_qualifi" method="post">
                                <input type="hidden" name="id" value="<%= qualification[item]._id %>">
                                <div class="mb-3 row">
                                    <label for="name" class="col-sm-3 col-form-label"> Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" name="name" class="form-control" id="name"
                                            placeholder="Enter Project Name" required
                                            value="<%= qualification[item].name %>">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="desc" class="col-sm-3 col-form-label">Description</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" name="description" id="desc"
                                            placeholder="Enter Description" required
                                            value="<%= qualification[item].description %>">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="dateStart" class="col-sm-3 col-form-label">Year enrollment</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" name="yearStart" id="desc"
                                            placeholder="Enter Date Start" required
                                            value="<%= qualification[item].yearStart %>">
                                    </div>
                                </div>
                                <div class="mb-3 row">
                                    <label for="dateEnd" class="col-sm-3 col-form-label">Year of graduation</label>
                                    <div class="col-sm-9">
                                        <input type="date" class="form-control" name="yearEnd" id="desc"
                                            placeholder="Enter Date Start" required
                                            value="<%= qualification[item].yearEnd %>">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <input type="submit" value="Update" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <% } %>

        </table>
    </div>
    <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"><i
            class="fa fa-plus"></i> Add New</button>
</div>


<!-- Modal Add New-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Qualification</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add_qualifi" method="post">
                    <div class="mb-3 row">
                        <label for="name" class="col-sm-3 col-form-label"> Name</label>
                        <div class="col-sm-9">
                            <input type="text" name="name" class="form-control" id="name"
                                placeholder="Enter qualification Name" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="description" class="col-sm-3 col-form-label">Description</label>
                        <div class="col-sm-9">
                            <input type="text" name="description" class="form-control" id="description"
                                placeholder="Enter Description" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="dateStart" class="col-sm-3 col-form-label">Year enrollment</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" name="yearStart" id="desc"
                                placeholder="Enter Date Start" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="dateEnd" class="col-sm-3 col-form-label">Year of graduation</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" name="yearEnd" id="desc"
                                placeholder="Enter Date Start" required>
                        </div>
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary">Close</button>
                        <input type="submit" value="Add" class="btn btn-primary">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<%- include('includes/footer.ejs') %>