<%- include('includes/head.ejs') %>
<%- include('includes/nav.ejs') %>

<!-- Start Dashboard Page  -->
<div class="container home-stats text-center">
  <h1><%= title %></h1>
  <div class="row">
    <div class="col-md-3">
      <div class="stat st-experi">
        <i class="fa fa-tag"></i>
        <div class="info">
          Total Experience
          <span><a href="include/experience.html">5</a></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stat st-skills">
        <i class="fa fa-tag"></i>
        <div class="info">
          Total Skills
          <span><a href="/skills"><%= ProjectCont %></a></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stat st-quali">
        <i class="fa fa-tag"></i>
        <div class="info">
          Total Qualification
          <span><a href="/qualifi">
            
          </a></span>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="stat st-course">
        <i class="fa fa-book"></i>
        <div class="info">
          Total Projects
          <span><a href="/projects"></a></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container latest">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-users"></i> This Your Info
          <span class="toggle-info pull-right">
            <i class="fa fa-plus fa-lg"></i>
          </span>
        </div>
        <div class="card-body">
          <ul class=" list-unstyled latest-users">
            <li>Khalifa Alqiadi</li>
            <li>Khalifa@gmail.com</li>
            <li>Web Developer</li>
          </ul>
          <a href="#" data-bs-toggle="modal" data-bs-target="#editModal">
            <span class="btn btn-success">
              <i class="fa fa-edit"></i>Edit
            </span>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-tag"></i> Latest <span class="btn btn-info numbers">5</span> Experience
          <span class="toggle-info pull-right">
            <i class="fa fa-plus fa-lg"></i>
          </span>
        </div>
        <div class="card-body">
          <ul class="list-unstyled latest-users">
            <li>
              HTML
              <a href="include/experience.html">
                <span class="btn btn-success pull-right">
                  <i class="fa fa-edit"></i> Edit
                </span>
              </a>
            </li>
            <li>
              CSS
              <a href="include/experience.html">
                <span class="btn btn-success pull-right">
                  <i class="fa fa-edit"></i> Edit
                </span>
              </a>
            </li>
            <li>
              Javascript
              <a href="include/experience.html">
                <span class="btn btn-success pull-right">
                  <i class="fa fa-edit"></i> Edit
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-tag"></i> Latest <span class="btn btn-info numbers">3</span>
          Skills
          <span class="toggle-info pull-right">
            <i class="fa fa-plus fa-lg"></i>
          </span>
        </div>
        <div class="card-body">
          <ul class="list-unstyled latest-users">
            <li>
              Fornt End
              <a href="include/experience.html">
                <span class="btn btn-success pull-right">
                  <i class="fa fa-edit"></i> Edit
                </span>
              </a>
            </li>
            <li>
              Back End
              <a href="include/experience.html">
                <span class="btn btn-success pull-right">
                  <i class="fa fa-edit"></i> Edit
                </span>
              </a>
            </li>
            <li>
              UI/Ux
              <a href="include/experience.html">
                <span class="btn btn-success pull-right">
                  <i class="fa fa-edit"></i> Edit
                </span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Dashboard Page -->

<!-- Modal Edit-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Edit Your Profile</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="skills.html" method="post">
          <div class="mb-3 row">
            <label for="Experience" class="col-sm-3 col-form-label">Your Name</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="skill" placeholder="Enter Your Full Name" required
                value="Khalifa Alqiadi">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="years" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="description" placeholder="Enter Email" required
                value="khalifa@gmail.com">
            </div>
          </div>
          <div class="mb-3 row">
            <label for="company" class="col-sm-3 col-form-label">Skill</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="level" placeholder="Enter Skill" required
                value="Web Developer">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>



<%- include('includes/footer.ejs') %>