<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title><%= title %></title>
</head>
<body>
    
    <!-- Start Navbar -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#hero"><h1><span>K</span>halifa <span>AL</span>-qiadi</h1></a>
                </div>
                <i class='bx bx-toggle-left change-theme' id="theme-button"></i>
                <div class="nav-list">
                    <div class="hamburger"><div class="bar"></div></div>
                    <ul>
                        <li><a href="#hero" data-after="Home">Home</a></li>
                        <li><a href="#about" data-after="About">About Us</a></li>
                        <li><a href="#services" data-after="Services">Services</a></li>
                        <li><a href="#projects" data-after="Projects">Projects</a></li>
                        <li><a href="#contact" data-after="Contact">Contact Me</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- End Navbar -->

    <!-- Start Header Section -->
    <section id="hero">
        <div class="hero container">
            <div>
                <h1>Hi I'M<span></span></h1> 
                <h1><%= abouts.firstname %> <%= abouts.lastname %> <span></span></h1> 
                <h1><%= abouts.title %> <span></span></h1>
                <a href="https://github.com/fiteer" type="button" class="cat">All Projects</a>
            </div>
            
        </div>
    </section>
    <!-- End Header Section -->
    <!-- Start About Section -->
    <section id="about">
        <div class="about container">
            <div class="col-left">
                <div class="about-img">
                    <img src="/images/<%= abouts.image %>" alt="">
                </div>
            </div>
            <div class="col-right">
                <h1 class="section-title">About <span>Me</span></h1>
                <h2><%= abouts.description1 %></h2>
                <p>
                    <%= abouts.description2 %>
                </p>
                <a href="<%= abouts.cv %>" class="cat" download="<%= abouts.cv %>">Dowaload CV</a>
            </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- Start Skills Section -->
    <!-- <section class="skills" id="skills">
        <div class="container">
            
              
        </div>
    </section> -->
    <!-- End Skills Section -->
    <!-- Start Services Section -->
    <div id="services">
        <div class="services container">
            <div class="services-top">
                <h1 class="section-title"><span>All</span> Skills</h1>
            </div>
            <div class="services-button">
                <% for(var item=0; item< skills.length; item++){ %>
                    <% if(skills[item].isActive == 'true'){ %>
                        <div class="services-item">
                            <div class="icon">
                                <img src="/images/<%= skills[item].imageskill %>" alt="">
                            </div>
                            <h2><%= skills[item].name %></h2>
                            <p>
                                <%= skills[item].description %>
                            </p>
                            <div class="barline">
                                <div class="countbar" data-percentNumber="<%= skills[item].skill %>"></div>
                            </div>
                        </div>
                    <% } %>
                <% } %>
                
            </div>
        </div>
    </div>
    <!-- End Services Section -->

    <!-- Start Project Section -->
    <div id="projects">
        <div class="projects container">
            <div class="project-header">
                <h1 class="section-title"><span>Our</span> Project</h1>
            </div>
            <div class="all-projects">
                <% let i = 1 %>
                <% for(let item =0; item< projects.length; item++){ %>
                    <% if(projects[item].isActive == "true"){ %>
                        <div class="project-item">
                            <div class="project-info">
                                <h1>Project <%= i++ %></h1>
                                <h2><%= projects[item].name %></h2>
                                <p><%= projects[item].description %></p>
                            </div>
                            <div class="project-img">
                                <img src="/images/<%= projects[item].image %>" alt="">
                            </div>
                            <div class="info">
                                <div class="icons">
                                    <a href="">
                                        <img src="/images/icons8-link-50 (1).png" alt="">
                                    </a>
                                    <span>|</span>
                                    <a href="<%= projects[item].link %>">
                                        <img src="/images/icons8-download-64.png" alt="">
                                    </a>
                                </div>
                                <a href="<%= projects[item].repositories %>" class="cat">Source Code</a>
                            </div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <!-- End Project Section -->
    

    <!-- Start Contact Section -->
    <section id="contact">
        <div class="contact container">
            <div class="contact-header"><h1 class="section-title"><span>Contact</span> Me</h1></div>
            <div class="contact-items">
                <div class="contact-item">
                    <form  action="https://formspree.io/f/mqknekle" method="POST">
                        <div class="form-control">
                            <label for="username">Name</label>
                            <input type="text" id="username" name="username" placeholder="Enter Your Name">
                            <p>me</p>
                        </div>
                        <div class="form-control">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email" placeholder="Enter Your Email">
                            <p></p>
                        </div>
                        <div class="form-control">
                            <label for="message">message</label>
                            <textarea name="message" id="message" placeholder="Enter Your Message"></textarea>
                            <p></p>
                        </div>
                        <div class="form-control">
                            <button type="submit" class="cat">send</button>
                        </div>

                    </form>
                    <img src="image/site.PNG" alt="">
                </div>
                
            </div>
        </div>
    </section>
    <!-- End Contact Section -->

    <!-- Start Footer -->
    <section id="footer">
        <div class="footer container">
            <div class="brand"><h1><span>K</span>halifa <span>AL-</span>qiadi</h1></div>
            <h2>You can contact us via</h2>
            <div class="social-icon">
                <div class="social-item">
                    <a href="#"><img src="image/iconf.png" alt=""></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="image/icon1.png" alt=""></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="layout/image/iconi.png" alt=""></a>
                </div>
                <div class="social-item">
                    <a href="#"><img src="icong.png" alt=""></a>
                </div>
            </div>
            <p>Copyright &copy 2022: 777khlefawww@gmail.com</p>
        </div>
    </section>
    <!-- End Footer -->
    <script src="/javascripts/app.js"></script>
</body>
</html>
    